<p id="notice"><%= notice %></p>

<p> Dirtor: <%= @short.director.name%> </p>
<p>Bio do Diretor: <%= @short.director.bio %></p>
<p> Compositor: <%= @short.composer.name %> </p>
<p> Lançado em: <%= @short.launch.strftime("%d/%m/%Y") %></p>
<p> Ficha Técnica: <%= @short.datasheet %></p>
<br>

<%= link_to 'Back', shorts_path %>
